@import "tailwindcss";

@theme {
  --animate-ticker: ticker 30s linear infinite;

  /* Define the keyframes */
  @keyframes ticker {
    from { transform: translateX(0); }
    to { transform: translateX(-20%); }
  }
}